* {
align-content: center;

}

body{
    background-color: peachpuff;

}

#chatbox {
    overflow: auto;
    border: 10px round black; 
    margin: 10px;
    width: 400px;
    height: 200px;
    color: purple;
}

.hands{
    width: 300px;
    height: 300px;
    filter: invert(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hands:hover {
    filter: invert(0%);

}

#pInstructions {
    color: green;
}



.row {
    border: 2px solid black;
    padding: 10px;
}

#player1score{
    color: red;
}

#player2score{
    color:blue;
}

