* {
align-content: center;


}

#chatbox {
    overflow: auto;
    border: 10px round black; 
    margin: 10px;
    width: 400px;
    height: 200px;
    color: purple;
}

.hands{
    width: 300px;
    height: 300px;
}

.hands:hover {
    filter: invert(100%);

}

#pOneInstructions {
    color: green;
}

#pTwoInstructions {
    color: green;
}

.row {
    border: 2px solid black;
    padding: 10px;
}

#player1score{
    color: red;
}

#player2score{
    color:blue;
}

